<article>
    <a href="{{ . }}" class="image">
        <img src="{{ . }}" alt="" />        
    </a>  
    <div class="caption">
        <h3>{{ .title }}</h3>
        <p>{{ .content }}</p>
        <ul class="actions fixed">
            <li><span class="button small">{{ .button }}</span></li>
        </ul>
    </div>
</article>
